.navbar::before, .navbar::after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg,  #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
  #0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 1.5px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.navbar::after {
	filter: blur(50px);
}

.navbar {
  background-color: #251c4d;
  height: 70px;
  background: rgb(8,12,46);
  background: linear-gradient(90deg, rgba(8,12,46,1) 0%, rgba(51,33,74,1) 100%);
  position: relative;
  margin-bottom: 2px;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 33px;
  font-weight: 500;
  color: rgb(208, 208, 247);
  margin-bottom: 0;
  margin-left: 20px;
  text-shadow: 2px 2px 2px rgb(117, 51, 117);
  cursor: default;
}

.icona_nome {
  font-size: 30px;
  color:rgb(231, 135, 57);
  margin-left: 15px;
}

.text-buttons {
  font-size: 22px;
  color:  rgb(208, 208, 247);
  text-shadow: 2px 2px 2px black;
  font-family: 'Orbitron', sans-serif;
  padding-top: 15px;
  padding-right: 5;
}

.buttons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    text-shadow: 1px 1px 1px black;
}

.ins {
  background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/18/12/43/style-3411108_960_720.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

#testo_1{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: rgb(208, 208, 247);
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
  margin-bottom: 0;
}

#testo_2 {
  display: flex;
  justify-content: center;
  color: rgb(208, 208, 247);
  font-size: 30px;
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
}

.tasti_guida {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#about_me {
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  margin-right: 60px;
  position: relative;
  display: inline-block;
  color: rgb(208, 208, 247);
  text-shadow: 1.5px 1.5px 1.5px #05057a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
}

#about_me:hover
{
  color: white;
  box-shadow: 0 0 10px #1741ff, 0 0 10px#4055af, 0 0 10px #263cff;
  background: rgb(147,59,208);
  background: linear-gradient(90deg, rgb(147,59,208,1) 0%, rgb(253,29,29,1) 50%, rgb(252, 136, 69) 100%);
}

#passioni {
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  margin-right: 60px;
  position: relative;
  display: inline-block;
  color: rgb(208, 208, 247);
  text-shadow: 1.5px 1.5px 1.5px #05057a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
}

#passioni:hover
{
  color: white;
  box-shadow: 0 0 10px #1741ff, 0 0 10px #4055af, 0 0 10px #263cff;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgb(252, 136, 69) 0%, rgba(253,29,29,1) 50%, rgb(147,59,208,1) 100%);
}

.presentazione {
  color: #e2dada;
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
  font-size: 25px;
  height: 970px;
  background: rgb(67,70,209);
  background: linear-gradient(0deg, rgba(67,70,209,1) 0%, rgba(25,10,48,1) 100%);
  border-top: cyan solid 2px;
  cursor: default;
}

.foto_mia {
  width: 250px;
  margin-top: 30px;  
  border-style: solid dotted solid dotted;
  border-color: rgb(214, 115, 1);
}


#testo_5 {
  font-size: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}

#hr_1 {
  margin-top: 40px;
  width: 40%;
  border: 1px solid rgb(41, 37, 37);
}
 
.row {
  display: flex;
  justify-content: center;
}

.soft_skills {
  width: 60%;
}

.skills {
  display: flex;
  justify-content: center;
}

#pagina_3 {
  height: 1000px;
  background: rgb(133, 44, 44);
  background: linear-gradient(0deg, rgb(172, 68, 50) -10%, rgb(67,70,209,1) 100%);
  background-size: cover;
  cursor: default;
  
}

#testo_6 {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  text-transform: uppercase;
  color: #e2dada;
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
  font-size: 40px;
}

#hr_2 {
  margin-top: 60px;
  width: 40%;

  border: 1px solid rgb(41, 37, 37);
}

.card-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-evenly
}



#card-2 {
  border-radius: 5px;
  margin-top: 60px;
  width: 330px;
  height: 250px;
}

.front {
  border-radius: 5px;
  border: 2px cyan solid;
}

.img-card {
  border-bottom: 2px cyan solid;
}

.card-img-top {
  height: 300px;
}

.card-text-bg {
  display: flex;
  justify-content: center;
  background: rgb(133, 44, 44);
  background: linear-gradient(0deg, rgb(172, 68, 50) -10%, rgb(67,70,209,1) 100%);
}

.card-text {
  margin-right: 0px;
  color: rgb(208, 208, 247);
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
  padding-top: 15px;
  height: 50px;
  display: inline-block;  
}

.card-icon {
  display: inline-block;
  margin-left: 17px;
  padding-top: 8px;
  font-size: 30px;
  color: orange;
  font-family: 'Oxanium', cursive;
  text-shadow: 3px 3px 3px #05057a;
}

.back {
  border: 2px cyan solid;
  border-radius: 5px;
}

.back-text {
  background: rgb(18, 26, 102);
  background: linear-gradient(90deg, rgb(16, 22, 73) 0%, rgba(51,33,74,1) 100%);
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 35px;
  color: rgb(208, 208, 247);
  text-shadow: 2px 2px 2px rgb(117, 51, 117);
  margin-bottom: 0;
  margin-top: 0;
}

.back-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  cursor: pointer;
  font-size: 20px;
  padding-top: 13px;
  background: rgb(18, 26, 102);
  background: linear-gradient(90deg, rgb(16, 22, 73) 0%, rgba(51,33,74,1) 100%);
}

#pagina_2::before {
  display: block;
  content: '';
  visibility: hidden;
}

::-webkit-scrollbar
{
  width: 0;
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
}
#progressbar
{
  position: fixed;
  top: 0%;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#progressbar::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

@media (min-width: 280px) and (max-width: 400px) {

  .icona_nome {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-brand {
    font-size: 14px; 
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }

  .btn-floating {
    width: 35px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
  }

  .text-buttons {
    font-size: 10px;
    padding: 0;
    margin: 7px 0 0 0;
    margin-left: 21px;
  }

  #testo_1 {
    font-size: 25px;
  }

  #testo_2 {
    font-size: 20px;
  }

  .tasti_guida {
    display: flex;
    justify-content: space-around;
  }

  #about_me {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  #passioni {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .foto_mia {
    width: 120px;
    margin-top: 10px;
  }

  #testo_3 {
    font-size: 15px;
  }

  #testo_4 {
    font-size: 15px;
  }

  #testo_5 {
    font-size: 25px;
  }

  .soft_skills{
    font-size: 15px;
  }

  .att_dett {
    padding-right: 50px;
    margin: 0;
  }

  #testo_6 {
    font-size: 25px;
  }

  .card-text-bg {
    height: 35px;
    display: flex;
    justify-content: center;
  }

  .card-text {
   font-size: 12px;
   padding: 0;
   margin: 0;
   margin-top: 10px;
  }

  .card-icon {
    margin: 0;
    padding: 0;
    margin-top: 6px;
    margin-left: 5px;
  }

  .rotate-btn {
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; 
  }

  #pagina_3 {
    height: 1000px;
  }

  .card-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .card-img-top {
    height: 150px;
    width: 100px;
  }

  #card-2 {
    height: 100px;
    width: 100px;
  }

  .back-icon {
    font-size: 13px;
    margin: 0;
    padding: 5px 5px 0 0;
  }

  .back-text {
    font-size: 7px;
    padding: 0px 5px 5px 5px ;
  }

}

@media (min-width: 400px) and (max-width: 600px) {
  .navbar-brand {
    font-size: 25px;
    margin-left: 10px;
  }

  .icona_nome {
    font-size: 25px;
    margin-left: 0;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    height: 120px;
  }

  .text-buttons {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .buttons {
    margin-left: 23px;
    display: flex;
    justify-content: flex-start;
  }

  #testo_1 {
    font-size: 45px;
  }

  #testo_2 {
    font-size: 25px;
  }

  #about_me {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .tasti_guida {
    display: flex;
    justify-content: space-around;
  }
 

  #passioni {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .foto_mia {
    width: 200px;
  }

  #testo_3 {
    font-size: 20px;
  }

  #testo_4 {
    font-size: 20px;
  }

  .card-img-top {
    height: 170px;
    width: 140px;
  }

  #card-2 {
    width: 140px;
    height: 130px;
  }

  .card-text-bg {
    height: 40px;
  }

  .card-text {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .rotate-btn {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .card-icon {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 12px;
  }

  .back-icon {
    font-size: 13px;
    margin: 0;
    padding: 5px 5px 0 0;
  }

  .back-text {
    font-size: 12px;
    padding: 5px 8px 8px 8px ;
  }

}

@media (min-width: 601px) and (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    height: 120px;
  }

  .icona_nome {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    font-size: 25px;
    margin: 0 0 0 10px;
  }

  .text-buttons {
    font-size: 18px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 32px;
  }

  #testo1 {
    font-size: 70px;
  }

  .card-img-top {
    height: 220px;
    width: 200px;
  }

  #card-2 {
    width: 200px;
  }

  .back-text {
    font-size: 15px;
    padding: 5px 15px 15px 15px;
  }

}

@media (min-width: 992px) and (max-width: 1100px) {

  .card-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  #card-2 {
    width: 300px;
  }

  .card-img-top {
    width: 300px;
  }
}





